---
import type { Tables } from "../../supabase/types.ts";
import Greeting from "./Greeting.astro";

interface Props {
  pet: Tables<"pets">;
}

const { pet }: Props = Astro.props;
---

<a href={`/pets/${pet.id}`}>
  <img
    src={`/.netlify/images?url=/images/${pet.image}&w=400&h=300&fit=cover`}
    alt={pet.name}
  />
  <Greeting greeting={pet.greeting} />
  <h2>{pet.name}</h2>
</a>

<style>
  a {
    border: 1px solid var(--blue-500);
    border-radius: 0.5rem;
    display: block;
    padding: 1rem;
  }

  a:hover {
    border: 1px solid var(--teal-200);
    transition: border 0.2s ease-in-out;
  }

  img {
    border-radius: 0.5rem;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
  }

  h2 {
    font-size: 1.5rem;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
</style>
