---
import type {Tables } from '../../supabase/types.ts'

interface Props {
  pet: Tables<'pets'>
}



const { pet }: Props = Astro.props
---

<div>
  <a href={`/pets/${pet.id}`}>
    <div>
      <img src={`/images/${pet.image}`} alt={pet.name} />
    </div>
    <h2>{pet.name}</h2>
  </a>
  <p>Greeting: {pet.greeting}</p>
</div>
